name: Publish from Flipsite

on:
  repository_dispatch:
    types: [flipsite_publish]

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Delete old files
        run: find . -mindepth 1 -not -path "./.git*" -exec rm -rf {} +

      - name: Extract ZIP URL
        id: extract
        run: echo "ZIP_URL=${{ github.event.client_payload.download.url }}" >> $GITHUB_ENV

      - name: Download ZIP
        run: curl -L -o download.zip "${{ env.ZIP_URL }}"

      - name: Unzip
        run: unzip -o download.zip -d .

      - name: Clean up ZIP
        run: rm download.zip

      - name: Commit and push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Replace main with new version from Flipsite Editor" || echo "No changes to commit"
          git push origin main --force

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
